spring:
  application:
    name: dp

  datasource:
    url: jdbc:h2:mem:test
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  file:
    upload:
      path: uploads/images

  logging:
    level:
      org.hibernate.SQL: debug

jwt:
  secret: 1234567890987654321JWTSECRET1234567890987654321